<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="http://127.0.0.1:5000/" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="http://127.0.0.1:5000/erfassen" class="nav-link">Zeit erfassen</a></li>
        <li class="nav-item"><a href="http://127.0.0.1:5000/insights" class="nav-link">Insights</a></li>
        <li class="nav-item"><a href="http://127.0.0.1:5000/uebersicht" class="nav-link">Übersicht</a></li>
      </ul>
    </header>
</body>
</html>