<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zeiterfassung</title>
</head>
<body>
 <h1>Arbeitsstunden Montag</h1>
    <form method="POST">
        <input type="text" name="stunden" placeholder="Bitte geben Sie Ihre gearbeiteten Stunden ein">
        <button type="submit">Senden</button>
    </form>
<h1>Arbeitsstunden Dienstag</h1>
    <form method="POST">
        <input type="text" name="stunden" placeholder="Bitte geben Sie Ihre gearbeiteten Stunden ein">
        <button type="submit">Senden</button>
    </form>
</body>
</html>