<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>taschenrechner</title>
</head>

<body>
	<form method="POST">
		<input type="text" name="erste_zahl" placeholder="Bitte geben sie eine Zahl ein">
        </br>
        <input type="text" name="zweite_zahl" placeholder="Bitte geben sie eine Zahl ein">
        </br>
        <input type="text" name="dritte_zahl" placeholder="Bitte geben sie eine Zahl ein">
        </br>
		<button type="submit">Senden</button>
	</form>
</body>
</html>